---
const pageTitle = "About Me";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const technologyStack = [
  { category: "Languages", technologies: ["Java", "Rust", "GoLang", "Lua"] }, // Languages I am proficient in
  { category: "Frontend", technologies: ["React", "AstroJS", "Tailwind"] }, // Frontend tools and frameworks
  { category: "Backend", technologies: ["Node.js", "Express", "Django"] }, // Backend tools and frameworks
  { category: "Testing", technologies: ["Selenium", "Cucumber BDD", "Cypress","Postman","RestAssured"] }, // Testing tools
  { category: "Cloud", technologies: ["AWS", "Azure", "Google Cloud"] }, // Cloud providers
  { category: "Cloud Infrastructure", technologies: ["Kubernetes", "Docker", "Podman"] }, // Containerization and orchestration tools
  {
    category: "Infrastructure as Code",
    technologies: ["Terraform", "Ansible"],
  }, // Infrastructure as Code tools
  { category: "Monitoring", technologies: ["Prometheus"] }, // Monitoring tools
  { category: "CI/CD", technologies: ["Jenkins", "GitHub Actions"] }, // CI/CD tools
  { category: "Shell", technologies: ["Bash", "Zsh", "PowerShell"] }, // Shell scripting languages
  { category: "Miscellaneous", technologies: ["Git"] }, // Miscellaneous tools
];
const contactMe = [
  {
    platform: "GitHub",
    link: "https://github.com/meeIbrahim",
    icon: "fab fa-github",
    text: "meeIbrahim",
  },
  {
    platform: "LinkedIn",
    link: "https://www.linkedin.com/in/chmibrahim/",
    icon: "fab fa-linkedin",
    text: "chmibrahim",
  },
  {
    platform: "Gmail",
    link: "mailto:chaudry.mibrahim@gmail.com",
    icon: "fas fa-envelope",
    text: "chaudry.mibrahim@gmail.com",
  },
];
---

<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
    <head>
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet"
      />
    </head>
    <body>
      <h2>Hi there 👋 I am Muhammad Ibrahim</h2>

      <p>
        I am currently working as Software Development Engineer in Test at <a
          class="emumba-link"
          href="https://emumba.com/">Emumba</a
        >
      </p>
      <p>
        My journey began as an Electrical Engineer, but my love for software
        engineering inspired me to switch fields Over the years, I've honed my
        skills by working on a variety of challenging projects and collaborating
        with talented individuals.
      </p>
      <p>
        Through my blog, 'Write to Learn,' I document my learning journey, share
        insights, and showcase the projects that helped me grow as a
        professional.
      </p>
      <h2>Technology Stack</h2>
      <p>
        Here are some of the technologies I've worked with over the years:
      </p>
      <table class="tech-stack-table">
        <thead>
          <tr>
            <th>Services</th>
            <th>Technologies</th>
          </tr>
        </thead>
        <tbody>
          {
            technologyStack.map((tech) => (
              <tr>
                <td class="left-align">{tech.category}</td>{" "}
                {/* Category name */}
                <td>{tech.technologies.join(", ")}</td>{" "}
                {/* Technologies list */}
              </tr>
            ))
          }
        </tbody>
      </table>
      <h2>Contact Me</h2>
      <ul>
        {
          contactMe.map((contact) => (
            <li>
              <a href={contact.link} target="_blank" rel="noopener noreferrer">
                <i class={contact.icon} /> {contact.text}
              </a>
            </li>
          ))
        }
      </ul>
    </body>
  </BaseLayout>
</html>
<style>
  .emumba-link {
    color: #0077b5;
  }

  .tech-stack-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .tech-stack-table th,
  .tech-stack-table td {
    padding: 7px 15px;
    white-space: normal;
  }

  .tech-stack-table thead tr {
    border-top: 2px solid #0077b5;
    background-color: #bcb8b85b;
    text-align: center;
  }

  .dark .tech-stack-table thead tr {
    border-top: 2px solid #bec9cf;
    background-color: #4f48485b;
    text-align: center;
  }

  .left-align {
    text-align: left;
  }
  .tech-stack-table tbody tr:last-of-type {
    border-bottom: 2px solid #0077b5;
  }
  .dark .tech-stack-table tbody tr:last-of-type {
    border-bottom: 2px solid #bec9cf;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    margin: 5px 0;
  }

  ul li a:hover {
    text-decoration: underline;
  }

  ul li i {
    margin-right: 8px; /* Add space between icon and text */
  }
  ul li a {
    color: #0077b5;
    text-decoration: none;
  }
</style>
