---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
import Pagination from './Pagination.astro';
import type { Page, MarkdownInstance } from "astro";

const { page } = Astro.props as {
    page: Page<MarkdownInstance<Record<string, any>>>;
};
---
<section class="blog-container">
    <ul>
       {page.data.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} tags={post.frontmatter.tags}></BlogPost>)}
    </ul>
    <Pagination page={page} />
</section>

<style>
    .blog-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        min-width: 22vw;
        margin: 0 auto;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-bottom: 1rem;
    }
    li:last-child {
        margin-bottom: 0;
    }
</style>