---
const {
    class: className,
    title,
    url,
    description,
    pubDate,
    tags,
    ...rest
} = Astro.props;
---

<li id="container">
    <a href={url}>
        <span>{title}</span>
        <div class="description">{description}</div>
        <div class="date">
            {
                new Date(pubDate).toLocaleDateString("en-US", {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                })
            }
        </div>
        <ul class="tags">
            {
                tags.flatMap((tag: string) => (
                    <li>
                        <a href={`/tags/${tag}`}>{tag}</a>
                    </li>
                ))
            }
        </ul>
    </a>
</li>

<style>
    .tags {
        display: flex;
        scale: 0.9;
        flex-wrap: wrap;
        gap: 0.5rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .tags li {
        text-size-adjust: smaller;
        border: 1px solid #3f3e3e;
        padding: 2px 5px;
        border-radius: 10px;
    }
    .tags li:hover,
    .tags li:focus {
        background-color: #1d1e204a;
    }

    :global(.dark) .tags li:hover,
    :global(.dark) .tags li:focus {
        background-color: #ecd8b6;
    }
    #container .description,
    #container .date {
        color: #1d1d1d;
    }
    #container .date {
        font-size: smaller;
    }
    span {
        font-size: larger;
    }
    a {
        text-decoration: none;
    }
    #container a {
        color: #00539f;
    }
    #container {
        list-style-type: none;

        /* Add empty space above the container (20% of the view height) */
        margin-top: 5vh;
        /* Change background color */
        background-color: #d6d2d2c7;
        /* Add border */
        border: 1px solid #d8c9ba;

        /* Add space between the border and the content */
        padding: 8px 21px;

        border-radius: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #container:focus,
    #container:hover {
        background-color: #ede4d4;
        scale: 1.1;
    }

    :global(.dark) #container {
        background-color: #d4d4d4dd;
    }
    :global(.dark) #container:focus,
    :global(.dark) #container:hover {
        background-color: #eaeaeaf5;
        scale: 1.1;
    }
</style>
