---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css"
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by {frontmatter.author}</p>
<hr />
<slot />
<div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #3b3434;
      border-radius: .5em;
      padding: .5em 1em;
      background-color: #d5dbdc;
    }

    .tag a {
      font-size: 1.15em;
      color: #00539F;
      text-decoration: none;
    }

    .tag :hover, :focus{
      background-color: #92bec4;
    }

  </style>